<div id="koPending">

   <div class="card collection with-header" data-bind="visible:data().length==0">
      <div class="collection-header" >
         <h5>@Html.FsTranslationFor("TITLE_DASHBOARD_ENTRIES_EMPTY")</h5>
      </div>
      <a href="#!" class="collection-item blue-text" data-bind="click:function(){window.location='@Url.Action("Index", "Entries")'}">
         <i class="material-icons left">add_circle</i>
         <span>@Html.FsTranslationFor("MSG_ENTRIES_ADD_NEW")</span>
      </a>
   </div>

   <!-- ko foreach:data -->
   <div class="card collection with-header">
      <div class="collection-header lighten-5" data-bind="css:{'red':State()==2}">
         <h5 data-bind="visible:State()==2" class="red-text">@Html.FsTranslationFor("TITLE_DASHBOARD_ENTRIES_OVERDUE")</h5>
         <h5 data-bind="visible:State()==1">@Html.FsTranslationFor("TITLE_DASHBOARD_ENTRIES_NEXT")</h5>
      </div>
      <div class="card-content center-align" data-bind="visible:$root.isLoading">
         @Html.Partial("_Control_Spinner")
      </div>
      <!-- ko foreach:Entries -->
      <a href="#!" class="collection-item row lighten-5" data-bind="click:$root.openData, css:{'red':State()==2}">
         <small class="col m2 hide-on-small-only" data-bind="text:DueDate"></small>
         <span class="col s12 m8" data-bind="text:Text"></span>
         <small class="col s6 hide-on-med-and-up" data-bind="text:DueDate"></small>
         <span class="col s6 m2 right-align" data-bind="text:EntryValue,css:{'red-text':!EntryValuePositive(),'green-text':EntryValuePositive()}"></span>
      </a>
      <!-- /ko -->
   </div>
   <!-- /ko -->
</div>
<script type="text/javascript">
   $(document).ready(function () {
      ko.applyBindings(new koPendingContext(), document.getElementById("koPending"));
   });
</script>