@model IEnumerable<FriendCash.Model.Flow>
@{
   ViewBag.jQueryUI = true;
   Layout = "~/Views/Shared/Base.cshtml";
   ViewBag.cssDate = "hidden-xs col-sm-2";
   ViewBag.cssDescription = "col-xs-9 col-sm-4 ";
   ViewBag.cssValue = "col-xs-3 col-sm-2 text-right";
   ViewBag.cssBalanceActual = "hidden-xs col-sm-2 text-right";
   ViewBag.cssBalanceProvided = "hidden-xs col-sm-2 text-right";
}

<div class="panel panel-default">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th class="@ViewBag.cssDate">@FriendCash.Resources.Flow.COLUMN_DATE</th>
            <th class="@ViewBag.cssDescription">@FriendCash.Resources.Document.COLUMN_ID</th>
            <th class="@ViewBag.cssValue">@FriendCash.Resources.Flow.COLUMN_VALUE</th>
            <th class="@ViewBag.cssBalanceActual">@FriendCash.Resources.Flow.COLUMN_BALANCE_CURRENT</th>
            <th class="@ViewBag.cssBalanceProvided">@FriendCash.Resources.Flow.COLUMN_BALANCE_PROVIDED</th>
         </tr>
      </thead>
      <tbody>
         @if (Model != null)
         {
            foreach (var oItem in Model)
            {
               // VALUE COLOR
               var sColor = "primary";
               if (oItem.Value < 0) { sColor = "danger"; }
               if (oItem.Value > 0) { sColor = "success"; }
               
               // EDIT URL
               var sController = (oItem.Type.ToString() + "s"); var sAction = "EditHistory"; object oIDs = new { id = oItem.idHistory, r = Html.Raw(Url.Action("Index", "Home")) };
               if (oItem.idTransfer.HasValue && oItem.idTransfer.Value > 0)
               { sController = "Transfers"; sAction = "Edit"; oIDs = new { id = oItem.idTransfer }; }
               var sDataAction = Url.Action(sAction, sController, oIDs);
               
               <tr>
                  <td><span class="glyphicon @(oItem.Settled ? "glyphicon-check": "glyphicon-unchecked")"></span></td>
                  <td class="@ViewBag.cssDate">@oItem.Date.ToShortDateString()</td>
                  <td class="@ViewBag.cssDescription">
                     <a class="modal-edit" data-action="@sDataAction">
                        <span>@oItem.Description</span>
                     </a>
                  </td>
                  <td class="@ViewBag.cssValue text-@sColor">@string.Format("{0:c2}", oItem.Value)</td>
                  <td class="@ViewBag.cssBalanceActual">@string.Format("{0:c2}", oItem.BalanceActual)</td>
                  <td class="@ViewBag.cssBalanceProvided">@string.Format("{0:c2}", oItem.BalanceProvided)</td>
               </tr>
             }
          }
      </tbody>
   </table>
</div>
@Html.Partial("Pagination")
