@model List<FriendCash.Model.ViewPlanningFlow>
@{
   if (Model != null)
   {
      var sMainDiv = "Planning" + ViewData[FriendCash.Service.Document.TAG_ENTITY_TYPE];
      
      var oPlanningDate = (DateTime)ViewData[FriendCash.Service.Planning.TAG_DATE];
      var oPlanningAction = Url.Action("ResumePlanning", "Flow");
      var oPlanningType = (FriendCash.Model.Document.enType)ViewData[FriendCash.Service.Document.TAG_ENTITY_TYPE];
      var oPlanningPrevious = new FriendCash.Web.Controllers.FlowController.ResumePlanningModel(oPlanningDate.AddMonths(-1)) { Type = oPlanningType };
      var oPlanningNext = new FriendCash.Web.Controllers.FlowController.ResumePlanningModel(oPlanningDate.AddMonths(1)) { Type = oPlanningType };
      
      <div id="@sMainDiv" class="panel panel-default">
         <div class="panel-heading">
            <h5>
               <span>@ViewData[FriendCash.Service.Document.TAG_ENTITY_TYPE]</span>
               <span class="pull-right">
                  <span class="glyphicon glyphicon-chevron-left planning-nav" data-form-action="@oPlanningAction" data-form-data="@Json.Encode(oPlanningPrevious)" data-form-div="@sMainDiv"></span>
                  <span>@string.Format("{0:MMM/yyyy}", oPlanningDate)</span>
                  <span class="glyphicon glyphicon-chevron-right planning-nav" data-form-action="@oPlanningAction" data-form-data="@Json.Encode(oPlanningNext)" data-form-div="@sMainDiv"></span>
               </span>
            </h5>
         </div>
         <div class="list-group treeview-group" style="border:0px;">

            @foreach (var oPlanning in Model)
            {
               var sAccordion = "accordion" + Model.FirstOrDefault().idPlanning.ToString();
               var bHasChildrens = (oPlanning.Childrens != null && oPlanning.Childrens.Count != 0);
               <div class="list-group-item treeview-group-item" id="@sAccordion" >
                  <a data-toggle="collapse" data-parent="#@(sAccordion)" href="#collapse@(oPlanning.idPlanning)" >
                     <span class="glyphicon glyphicon-@( (bHasChildrens?"expand":"unchecked") )"></span>
                     <span>@oPlanning.Description</span>
                     <span class="pull-right">@string.Format("{0:c2}", oPlanning.Value)</span>
                  </a>
                  @if (bHasChildrens)
                  {
                     <div id="collapse@(oPlanning.idPlanning)" class="list-group treeview-group">
                        @Html.Partial("Index_ResumePlanning_Children", oPlanning.Childrens)
                     </div>
                  }
               </div>
             }

         </div>
      </div>
   }
}
