@{
   ViewBag.cssAccount = "col-xs-8";
   ViewBag.cssBalance = "col-xs-4 text-right";
}

<div class="panel panel-default">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="@ViewBag.cssAccount">@FriendCash.Resources.Accounts.COLUMN_ID</th>
            <th class="@ViewBag.cssBalance">@FriendCash.Resources.Flow.COLUMN_BALANCE</th>
         </tr>
      </thead>
      <tbody>
         @{
            var oBalanceList = ((List<FriendCash.Model.Flow>)ViewData["Flows"]);
            var oAccounts = ((List<FriendCash.Model.Account>)ViewData["Accounts"]);
            if (oBalanceList != null && oAccounts != null)
            {
               foreach (var oItem in oAccounts)
               {
                  <tr>
                     <td class="@ViewBag.cssAccount">
                        <span>
                           <a href="@Url.Action("Account", "Flow", new {id=oItem.idAccount})">@oItem.Description</a>
                        </span>
                        @if (oItem.Type == FriendCash.Model.Account.enType.CreditCard)
                        { <span class="badge pull-right">@string.Format("{0:dd/MM}", oItem.DueDate)</span> }
                     </td>
                     <td class="@ViewBag.cssBalance">
                        @{
                           double dBalance = 0; var sColor = "primary";
                           var oBalance = oBalanceList.Where(DATA => DATA.idAccount == oItem.idAccount).SingleOrDefault();
                           if (oBalance != null)
                           {
                              dBalance = (oItem.Type == FriendCash.Model.Account.enType.CreditCard ? 
                                          oBalance.BalanceProvided :
                                          (oBalance.BalanceActual.HasValue ? oBalance.BalanceActual.Value : 0));
                              if (dBalance < 0) { sColor = "danger"; }
                              if (dBalance > 0) { sColor = "success"; }
                           }
                         }
                        <span class="text-@sColor">@string.Format("{0:c2}", dBalance)</span>
                     </td>
                  </tr>
                }
             }
         }

      </tbody>
   </table>
</div>
