@model FriendCash.Model.Document
@using (Html.BeginForm("Edit", (string)ViewBag.PageController, FormMethod.Post)) 
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)
   @Html.HiddenFor(model => model.idRow)
   @Html.HiddenFor(model => model.Type)
   @Html.HiddenFor(model => model.idDocument)

   <div class="panel panel-default">
      <div class="panel-body">
         @Html.FriendTextBoxFor(model => model.Description)
         @Html.FriendAutoCompleteFor(model => model.idSupplier, new AutoCompleteSupplier(Model.SupplierDetails))
         @Html.FriendPlanningListFor(model => model.idPlanning, ((IEnumerable<FriendCash.Model.Planning>)ViewData["PlanningTree"]))
      </div>
      <div class="panel-footer">
         <div class="row">
            @{
               CommandRemove oRemove = null;
               if (Model.idDocument > 0)
               { oRemove = new CommandRemove(); oRemove.Question = FriendCash.Resources.Document.MSG_QUESTION_REMOVE; }
            }
            @Html.FriendCommandForEdit(new CommandSave(), oRemove)
         </div>
      </div>
   </div>
}
