@model FriendCash.Model.DocumentIndicators

<div class="panel panel-default">
   <div class="panel-heading">
      <h4>@FriendCash.Resources.Document.TITLE_INDICATORS_VALUES</h4>
   </div>
   @if (Model != null)
   {
   <ul class="list-group">
      <li class="list-group-item">
         <span>@Html.DisplayNameFor(m => m.HistoryCount)</span>
         <span class="badge pull-right">@Model.HistoryCount</span>
      </li>
      <li class="list-group-item">
         <span>@Html.DisplayNameFor(m => m.HistoryUnsettled)</span>
         <span class="badge pull-right">@Model.HistoryUnsettled</span>
      </li>
      <li class="list-group-item">
         <span>@Html.DisplayNameFor(m => m.ValueTotal)</span>
         <span class="badge pull-right">@string.Format("{0:c2}", Model.ValueTotal)</span>
      </li>
      <li class="list-group-item">
         <span>@Html.DisplayNameFor(m => m.ValueSettled)</span>
         <span class="badge pull-right">@string.Format("{0:c2}", Model.ValueSettled)</span>
      </li>
      <li class="list-group-item">
         <span>@Html.DisplayNameFor(m => m.ValueUnsettled)</span>
         <span class="badge pull-right">@string.Format("{0:c2}", Model.ValueUnsettled)</span>
      </li>
   </ul>
   }
</div>

<div class="panel panel-default">
   <div class="panel-heading">
      <h4>@FriendCash.Resources.Document.TITLE_INDICATORS_AVERAGE</h4>
   </div>
   @if (Model != null)
   {
      var oGraphBar =
         (from FLOW in Model.Flow
          select new GraphBar
          {
             Text = string.Format("{0:MMM}", FLOW.Date).ToUpper(),
             Value = FLOW.Value,
          }).ToList();
   <div class="panel-body">
      @Html.Partial("Graph_Bars", oGraphBar)
   </div>
   }
</div>

