@model FriendCash.Service.Entries.Model.viewEntry
<div class="col  s12  offset-m1 m10">
   <div class="vertical-center-align center-align" data-bind="visible:!isLoading() && data().length==0">
      @Html.Partial("_Control_EmptyList")
   </div>
   <div class="vertical-center-align center-align" data-bind="visible:isLoading">
      @Html.Partial("_Control_Spinner")
   </div>

   <ul class="collapsible popout" data-collapsible="accordion" data-bind="foreach:data">
      <li data-bind="css:{'search-date-future':(searchDateFuture()==1)}">

         <div class="collapsible-header">
            <i class="material-icons collapsible-closed">keyboard_arrow_right</i>
            <i class="material-icons collapsible-opened">keyboard_arrow_down</i>
            <span data-bind="text:FormatedDate"></span>
            <span class="balance-header right" data-bind="css:{'red-text':!positiveBalance(),'green-text':positiveBalance()}">
               <i class="material-icons" data-bind="text:StateIcon,visible:StateIcon()!=''"></i>
               <span data-bind="text:Balance"></span>
            </span>
         </div>

         <div class="collapsible-body collection">

            <div class="collection-item row grey lighten-5">
               <strong class="col s8 m5">@Html.FsTranslationFor(Html.FsDescriptionFor(m => Model.Text))</strong>
               <strong class="col m3 hide-on-small-only">@Html.FsTranslationFor(Html.FsDescriptionFor(m => Model.idAccount))</strong>
               <strong class="col s4 m4 right-align">@Html.FsTranslationFor(Html.FsDescriptionFor(m => Model.EntryValue))</strong>
            </div>

            <!-- ko foreach:Entries -->
            <a href="#!" class="collection-item row"
               data-bind="click:$root.openData,css:{'disabled':idEntry()<=0}">

               <span class="col s8">
                  <i class="material-icons" data-bind="visible:Paid()">check_box</i>
                  <i class="material-icons" data-bind="visible:!Paid()">check_box_outline_blank</i>
                  <span data-bind="text:Text"></span>
               </span>
               <span class="col s4 right-align" data-bind="css:{'red-text':!EntryValuePositive(),'green-text':EntryValuePositive()}">
                  <i class="material-icons" data-bind="text:StateIcon,visible:StateIcon()!=''"></i>
                  <span data-bind="text:EntryValue"></span>
               </span>
               <small class="col s12 m5" data-bind="text:idCategoryText"></small>
               <small class="col s12 m3" data-bind="text:idAccountText"></small>
            </a>
            <!-- /ko -->

            <div class="collection-item row grey lighten-4 right-align">
               <span data-bind="text:Balance,css:{'red-text':!positiveBalance(),'green-text':positiveBalance()}"></span>
               <!-- ko if:purePending()!=0 -->
               <small data-bind="css:{'red-text':!positivePending(),'green-text':positivePending()}">
                  (<span data-bind="text:Pending"></span>)
               </small>
               <!-- /ko -->
            </div>

         </div>

      </li>
   </ul>
   <style type="text/css">
      #koEntry li.active .balance-header { display: none; }
      #koEntry li.active .collapsible-header { background-color: #e0e0e0; }
      #koEntry li.active .collapsible-header .collapsible-closed { display: none; }
      #koEntry li:not(.active) .collapsible-header .collapsible-opened { display: none; }
      .search-date-future i, .search-date-future span { opacity:0.6; }
      .search-date-future strong, .search-date-future small { opacity:0.4; }
      .fs-datalist-contentitem.striped:nth-child(even) { background-color: transparent; }
      .fs-datalist-contentitem.striped:nth-child(odd) { background-color: #f8f8f8; }
   </style>
</div>