@using FriendCash.Auth.Model
@model viewUser

<!-- ko with:data -->

<div class="card">
   <div class="card-content row" data-bind="with:UserRoles">
      <div class="col s12 checkbox-field">
         @Html.FsCheckBoxFor(m => Model.UserRoles.Admin)
         @Html.FsLabelFor(m => Model.UserRoles.Admin)
      </div>
      <div class="col s12 checkbox-field">
         @Html.FsCheckBoxFor(m => Model.UserRoles.User)
         @Html.FsLabelFor(m => Model.UserRoles.User)
      </div>
      <div class="col s12 checkbox-field">
         @Html.FsCheckBoxFor(m => Model.UserRoles.Viewer)
         @Html.FsLabelFor(m => Model.UserRoles.Viewer)
      </div>
   </div>
</div>

<!-- /ko -->