@{ ViewBag.Title = Html.FsTranslationFor("TITLE_USERS_MAIN"); }
<div id="koUser" class="row">
   <div class="col s9">
      @Html.Partial("Details_Main")
      @Html.Partial("Details_Signatures")
   </div>
   <div class="col s3">
      @Html.Partial("Details_Status")
      @Html.Partial("Details_Roles")
   </div>

</div>
@section Scripts {
   <script type="text/javascript">
      var userID = '@ViewBag.userID';
      $(document).ready(function () {
         ko.applyBindings(new koUserContext(), document.getElementById("koUser"));
      });
   </script>
   <script type="text/javascript" src="~/Scripts/users.min.js"></script>
}