@using FriendCash.Auth.Model
@model viewUser

<div class="card" data-bind="with:data">
   <div class="card-content row">

      <div class="col s12 input-field input-field-large">
         @Html.FsTextBoxFor(m => Model.FullName)
         @Html.FsLabelFor(m => Model.FullName)
      </div>

      <div class="col s12 input-field">
         @Html.FsTextBoxFor(m => Model.UserName)
         @Html.FsLabelFor(m => Model.UserName)
      </div>

      <div class="col s12 m12 l8 input-field">
         @Html.FsTextBoxFor(m => Model.Email)
         @Html.FsLabelFor(m => Model.Email)
      </div>
      <div class="col s12 m12 l4 checkbox-field">
         @Html.FsCheckBoxFor(m => Model.EmailConfirmed)
         @Html.FsLabelFor(m => Model.EmailConfirmed)
      </div>

   </div>
</div>