@model FriendCash.Model.Membership.LocalPassword
<div class="panel panel-default">
   <div class="panel-heading">
      <h3>@FriendCash.Resources.User.TITLE_SET_PASSWORD</h3>
   </div>
   <div class="panel-body">
      @using (Html.BeginForm("Manage", "User", FormMethod.Post, new { @class = "form-horizontal", @role = "form" })) 
      {
         @Html.AntiForgeryToken()
         @Html.ValidationSummary()
         @Html.FriendPasswordFor(model => model.NewPassword)
         @Html.FriendPasswordFor(model => model.ConfirmPassword)
         @Html.FriendCommandForEdit(new CommandSave() { UseCancel = false, UseSubmit = true, Text = FriendCash.Resources.User.COMMAND_SET_PASSWORD, Icon = CommandBase.enIcon.Save })
      }
   </div>
</div>
