@using FriendCash.Service.Categories.Model
@{ ViewBag.Title = Html.FsTranslationFor("TITLE_CATEGORIES_MAIN"); }

<div id="koCategory">

   <ul class="tabs">
      <li class="tab col s6">
         <a href="#tabIncome" class="active">@Html.FsTranslationFor("LABEL_CATEGORIES_INCOME")</a>
      </li>
      <li class="tab col s6">
         <a href="#tabExpense" >@Html.FsTranslationFor("LABEL_CATEGORIES_EXPENSE")</a>
      </li>
   </ul>

   <div class="container">
      <div id="tabIncome">
         @Html.Partial("List", "dataIncome")
      </div>
      <div id="tabExpense">
         @Html.Partial("List", "dataExpense")
      </div>
   </div>

   @Html.Partial("Details")

   <div class="fs-fab">
      <!-- ko if:IsActiveUser() -->
         <a class="fs-fab-btn" data-bind="click:addData">
            <i class="material-icons">add</i>
         </a>
      <!-- /ko -->
      <!-- ko if:!IsActiveUser() -->
         <span class="fs-fab-btn" title="@Html.FsTranslationFor("LABEL_AUTH_NOT_ISACTIVEUSER")">
            <i class="material-icons">add</i>
         </span>
      <!-- /ko -->
   </div>

</div>

@section Scripts {
   <script type="text/javascript">
      var categoryTypeIncome = @((short)FriendCash.Service.Categories.Model.enCategoryType.Income);
      var categoryTypeExpense = @((short)FriendCash.Service.Categories.Model.enCategoryType.Expense);
      $(document).ready(function () {
         ko.applyBindings(new koCategoryContext(), document.getElementById("koCategory"));
      });
   </script>
   @Html.IncludeJS("~/Scripts/categories.min.js")
}
