@model IEnumerable<FriendCash.Model.Account>
@{
   Layout = "~/Views/Shared/Base.cshtml";
   ViewBag.SearchModel = new FriendCash.Web.Search(ViewData["Search"]);
   ViewBag.cssCode   = "hidden-xs col-sm-2";
   ViewBag.cssDescr  = "col-xs-10 col-sm-5";
   ViewBag.cssType   = "col-xs-2  col-sm-3";
   ViewBag.cssStatus = "hidden-xs col-sm-2";
}
@section TitleRight { @Html.FriendCommandForCreate() }

<div class="panel panel-default">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="@ViewBag.cssCode">@FriendCash.Resources.Accounts.COLUMN_CODE</th>
            <th class="@ViewBag.cssDescr">@FriendCash.Resources.Accounts.COLUMN_DESCRIPTION</th>
            <th class="@ViewBag.cssType">@FriendCash.Resources.Accounts.COLUMN_TYPE</th>
            <th class="@ViewBag.cssStatus">@FriendCash.Resources.Accounts.COLUMN_STATUS</th>
         </tr>
      </thead>
      <tbody>
         @if (Model != null)
         {
            foreach (var oItem in Model)
            {
               <tr>
                  <td class="@ViewBag.cssCode">@oItem.Code</td>
                  <td class="@ViewBag.cssDescr">
                     <a href="@Url.Action("Edit", "Accounts", new {id=oItem.idAccount})" >@oItem.Description</a>
                  </td>
                  <td class="@ViewBag.cssType">@oItem.Type</td>
                  <td class="@ViewBag.cssStatus">@oItem.Status</td>
               </tr>
             }
          }
      </tbody>
   </table>
</div>
@Html.Partial("Pagination")
