<li role="presentation">
   <a href="@Url.Action("Index", "Incomes", new { page = new Int16?(), search = string.Empty } )">
      <span class="glyphicon glyphicon-log-in"></span>
      <span> </span>
      <span>@FriendCash.Resources.Document.ENUM_TYPE_INCOME</span>
   </a>
</li>
<li role="presentation">
   <a href="@Url.Action("Index", "Expenses", new { page = new Int16?(), search = string.Empty } )">
      <span class="glyphicon glyphicon-log-out"></span>
      <span> </span>
      <span>@FriendCash.Resources.Document.ENUM_TYPE_EXPENSE</span>
   </a>
</li>
<li role="presentation">
   <a href="@Url.Action("Index", "Transfers", new { page = new Int16?(), search = string.Empty } )">
      <span class="glyphicon glyphicon-random"></span>
      <span> </span>
      <span>@FriendCash.Resources.Transfer.PAGE_TITLE</span>
   </a>
</li>

<li class="dropdown">
   <a href="#" id="menuParameters" role="button" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-cog"></span>
      <span> </span>
      <span>@FriendCash.Resources.Base.PARAMETERS</span><b class="caret"></b>
   </a>
   <ul class="dropdown-menu" role="menu" aria-labelledby="menuParameters">
      <li role="presentation">@Html.ActionLink(FriendCash.Resources.Accounts.PAGE_TITLE, "Index", "Accounts", new { page = new Int16?(), search = string.Empty }, new { @role="menuitem", @tabindex="-1" })</li>
      <li role="presentation">@Html.ActionLink(FriendCash.Resources.Suppliers.PAGE_TITLE, "Index", "Suppliers", new { page = new Int16?(), search = string.Empty }, new { @role="menuitem", @tabindex="-1" })</li>
      <li role="presentation">@Html.ActionLink(FriendCash.Resources.Planning.PAGE_TITLE, "Index", "Planning", new { page = new Int16?(), search = string.Empty }, new { @role="menuitem", @tabindex="-1" })</li>
      @if (System.Configuration.ConfigurationManager.AppSettings["BetaFunctions"] == "1")
      {
         <li role="presentation">@Html.ActionLink(FriendCash.Resources.Recurrent.PAGE_TITLE, "Index", "Recurrent", new { page = new Int16?(), search = string.Empty }, new { @role="menuitem", @tabindex="-1" })</li>
      }
   </ul>
</li>

<li class="dropdown create-new">
   <a href="#" id="menuAdd" role="button" class="dropdown-toggle" data-toggle="dropdown">
      <span class="hidden-xs glyphicon glyphicon-plus-sign"></span>
      <span class="visible-xs">@FriendCash.Resources.Base.COMMAND_CREATE</span>
   </a>
   <ul class="dropdown-menu" role="menu" aria-labelledby="menuAdd">
      <li role="presentation">@Html.ActionLink(FriendCash.Resources.Document.ENUM_TYPE_INCOME, "New", "Incomes", new { }, new { @role="menuitem", @tabindex="-1" })</li>
      <li role="presentation">@Html.ActionLink(FriendCash.Resources.Document.ENUM_TYPE_EXPENSE, "New", "Expenses", new { }, new { @role="menuitem", @tabindex="-1" })</li>
      <li role="presentation">@Html.ActionLink(FriendCash.Resources.Transfer.PAGE_TITLE, "New", "Transfers", new { }, new { @role="menuitem", @tabindex="-1" })</li>
   </ul>
</li>
