@model FriendCash.Model.Supplier
@{
   ViewBag.jQueryUI = true;
   Layout = "~/Views/Shared/Base.cshtml";
}

@if (Model != null)
{
   using (Html.BeginForm("Edit", "Suppliers", FormMethod.Post)) 
   {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true)
      @Html.HiddenFor(model => model.idRow)
      @Html.HiddenFor(model => model.idSupplier)

      <div class="panel panel-default">
         <div class="panel-body">
            @Html.FriendTextBoxFor(model => model.Code, (Model.idSupplier==0))
            @Html.FriendTextBoxFor(model => model.Description)
         </div>
         <div class="panel-footer">
            <div class="row">
               @{
                  CommandRemove oRemove = null;
                  if (Model.idSupplier > 0)
                  { oRemove = new CommandRemove(); oRemove.Question = FriendCash.Resources.Suppliers.MSG_QUESTION_REMOVE; }
               }
               @Html.FriendCommandForEdit(new CommandSave(), oRemove)
            </div>
         </div>
      </div>
   }
}
