@model IEnumerable<FriendCash.Model.Supplier>
@{
   Layout = "~/Views/Shared/Base.cshtml";
   ViewBag.SearchModel = new FriendCash.Web.Search(ViewData["Search"]);
   ViewBag.cssCode   = "hidden-xs col-sm-3";
   ViewBag.cssDescr  = "col-xs-12 col-sm-9";
}
@section TitleRight { @Html.FriendCommandForCreate() }

<div class="panel panel-default">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="@ViewBag.cssCode">@FriendCash.Resources.Suppliers.COLUMN_CODE</th>
            <th class="@ViewBag.cssDescr">@FriendCash.Resources.Suppliers.COLUMN_DESCRIPTION</th>
         </tr>
      </thead>
      <tbody>
         @if (Model != null)
         {
            foreach (var oItem in Model)
            {
               <tr>
                  <td class="@ViewBag.cssCode">@oItem.Code</td>
                  <td class="@ViewBag.cssDescr">
                     <a href="@Url.Action("Edit", "Suppliers", new {id=oItem.idSupplier})">@oItem.Description</a>
                  </td>
               </tr>
             }
          }
      </tbody>
   </table>
</div>
@Html.Partial("Pagination")
