@using FriendCash.Web.Auth.Model;
@model viewAuth
@{
   ViewBag.Title = Html.FsTranslationFor("TITLE_AUTH_LOGIN");
}

<div id="koLogin" class="row">
   <div class="col offset-s1 s10 offset-m3 m6 offset-l4 l4">
      <div class="card">
         <div class="card-content" data-bind="with:data">
            <div class="input-field">
               @Html.FsTextBoxFor(m => Model.username)
               @Html.FsLabelFor(m => Model.username)
            </div>
            <div class="input-field">
               @Html.PasswordFor(m => Model.password, new { @data_bind = "textInput:password", @class = "validate" })
               @Html.FsLabelFor(m => Model.password)
            </div>
            <div class="input-field center-align">
               <a href="#!" class="btn waves-effect lighten-2 white-text" data-bind="click:$parent.execLogin">@Html.FsTranslationFor("LABEL_AUTH_LOGIN")</a>
            </div>
         </div>
      </div>
      <div class="right-align">
         <a href="@Url.Action("register", "auth")">@Html.FsTranslationFor("MSG_AUTH_REGISTER")</a>
         @*
            <br />
            <a href="@Url.Action("recover", "auth")">@Html.FsTranslationFor("MSG_AUTH_RECOVER")</a>
         *@
      </div>
   </div>
</div>
@section Scripts {
   <script type="text/javascript">
      var returnUrl = "@ViewBag.returnUrl";
      $(document).ready(function () {
         ko.applyBindings(new koLoginContext('@ViewBag.UserName'), document.getElementById("koLogin"));
      });
   </script>
   @Html.IncludeJS("~/Scripts/auth.min.js")
}
