@using FriendCash.Auth.Model;
@model viewChangePassword

<div id="koPassword" class="card">
   <div class="card-content" data-bind="with:data">
      <div class="card-title">@Html.FsTranslationFor("TITLE_AUTH_PASSWORD")</div>
      <div class="input-field">
         @Html.PasswordFor(m => Model.OldPassword, new { @data_bind = "textInput:OldPassword", @class = "validate" })
         @Html.FsLabelFor(m => Model.OldPassword)
      </div>
      <div class="input-field">
         @Html.PasswordFor(m => Model.NewPassword, new { @data_bind = "textInput:NewPassword", @class = "validate" })
         @Html.FsLabelFor(m => Model.NewPassword)
      </div>
      <div class="input-field">
         @Html.PasswordFor(m => Model.ConfirmPassword, new { @data_bind = "textInput:ConfirmPassword", @class = "validate" })
         @Html.FsLabelFor(m => Model.ConfirmPassword)
      </div>
      <div class="right-align">
         <a href="#!" class="btn waves-effect lighten-2 white-text" data-bind="click:$parent.execPassword">@Html.FsTranslationFor("COMMAND_SAVE")</a>
      </div>
   </div>
</div>
<script type="text/javascript">
   $(document).ready(function () {
      ko.applyBindings(new koPasswordContext(), document.getElementById("koPassword"));
   });
</script>