@using FriendCash.Auth.Model;
@model viewCreateUser
@{
   ViewBag.Title = Html.FsTranslationFor("TITLE_AUTH_REGISTER");
}

<div id="koRegister" class="row">
   <div class="col offset-s1 s10 offset-m3 m6 offset-l4 l4">
      <div class="card">
         <div class="card-content" data-bind="with:data">
            <div class="input-field">
               @Html.FsTextBoxFor(m => Model.Email)
               @Html.FsLabelFor(m => Model.Email)
            </div>
            <div class="input-field">
               @Html.FsTextBoxFor(m => Model.Fullname)
               @Html.FsLabelFor(m => Model.Fullname)
            </div>
            <div class="m6 input-field">
               @Html.PasswordFor(m => Model.Password, new { @data_bind = "textInput:Password", @class = "validate" })
               @Html.FsLabelFor(m => Model.Password)
            </div>
            <div class="m6 input-field">
               @Html.PasswordFor(m => Model.ConfirmPassword, new { @data_bind = "textInput:ConfirmPassword", @class = "validate" })
               @Html.FsLabelFor(m => Model.ConfirmPassword)
            </div>
            <div class="input-field center-align">
               <a href="#!" class="btn waves-effect lighten-2 white-text" data-bind="click:$parent.execRegister">@Html.FsTranslationFor("LABEL_AUTH_REGISTER")</a>
            </div>
         </div>
      </div>
      <div class="right-align">
         <a href="@Url.Action("login", "auth")">@Html.FsTranslationFor("MSG_AUTH_LOGIN")</a><br />
      </div>
   </div>
</div>
@section Scripts {
   <script type="text/javascript">
      $(document).ready(function () {
         ko.applyBindings(new koRegisterContext(), document.getElementById("koRegister"));
      });
   </script>
   @Html.IncludeJS("~/Scripts/auth.min.js")
}
