<a href="@Url.Action("Index", "Home")" class="collection-item side-nav-item general">
   <span>@Html.FsTranslationFor("TITLE_DASHBOARD_MAIN")</span>
   <i class="secondary-content material-icons">dashboard</i>
</a>
<a href="@Url.Action("Index", "Entries")" class="collection-item side-nav-item general">
   <span>@Html.FsTranslationFor("TITLE_ENTRIES_MAIN")</span>
   <i class="secondary-content material-icons">receipt</i>
</a>
<a href="@Url.Action("Index", "Accounts")" class="collection-item side-nav-item general">
   <span>@Html.FsTranslationFor("TITLE_ACCOUNTS_MAIN")</span>
   <i class="secondary-content material-icons">account_balance</i>
</a>
<a href="@Url.Action("Index", "Categories")" class="collection-item side-nav-item general">
   <span>@Html.FsTranslationFor("TITLE_CATEGORIES_MAIN")</span>
   <i class="secondary-content material-icons">label</i>
</a>
<a href="@Url.Action("Index", "Analysis")" class="collection-item side-nav-item general">
   <span>@Html.FsTranslationFor("TITLE_ANALYSIS_MAIN")</span>
   <i class="secondary-content material-icons">equalizer</i>
</a>