@model IEnumerable<FriendCash.Model.Planning>
@{
   Layout = "~/Views/Shared/Base.cshtml";
   ViewBag.cssDescr  = "col-xs-9";
   ViewBag.cssCommand = "col-xs-3 text-right";
}

<div class="row">

   <!-- EXPENSE -->
   <div class="col-sm-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="row h3">
               <div class="@ViewBag.cssDescr"><h4 class="text-danger">@FriendCash.Resources.Document.ENUM_TYPE_EXPENSE</h4></div>
               <div class="@ViewBag.cssCommand">
                  @Html.FriendCommandForCreate(new CommandCreate() { Text = FriendCash.Resources.Document.ENUM_TYPE_EXPENSE, Action = Url.Action("NewExpense") })
               </div>
            </div>
         </div>
         <div class="panel-body list-group">
            @if (Model != null) { @Html.Partial("Index_List", Model.Where(DATA => DATA.Type == FriendCash.Model.Document.enType.Expense)) }
         </div>
      </div>
   </div>

   <!-- INCOME -->
   <div class="col-sm-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="row h3">
               <div class="@ViewBag.cssDescr"><h4 class="text-success">@FriendCash.Resources.Document.ENUM_TYPE_INCOME</h4></div>
               <div class="@ViewBag.cssCommand">
                  @Html.FriendCommandForCreate(new CommandCreate() { Text = FriendCash.Resources.Document.ENUM_TYPE_INCOME, Action = Url.Action("NewIncome") })
               </div>
            </div>
         </div>
         <div class="panel-body list-group">
            @if (Model != null) { @Html.Partial("Index_List", Model.Where(DATA => DATA.Type == FriendCash.Model.Document.enType.Income)) }
         </div>
      </div>
   </div>

</div>

