@model IEnumerable<FriendCash.Model.Planning>
@foreach (var oItem in Model.OrderBy(DATA => DATA.Description)) 
{
   if (oItem.RowStatus == FriendCash.Model.Base.enRowStatus.Active)
   {
      bool bHasChild = (oItem.Childs != null && oItem.Childs.Count(DATA => DATA.RowStatusValue == (short)FriendCash.Model.Base.enRowStatus.Active) != 0);
      string sColor = (oItem.Type == FriendCash.Model.Document.enType.Income ? "text-success" : "text-danger");
      string sIcon = (bHasChild ? "glyphicon-expand" : "glyphicon-unchecked");
      <div class="list-group-item-foranchor">
         <span class="glyphicon @sIcon @sColor"></span>
         <a href="@Url.Action("Edit", "Planning", new {id=oItem.idPlanning})" >
            <span class="@sColor">@oItem.Description</span>
         </a>
      </div>
      if (bHasChild) 
      {
         <div style="padding-left:16px;">
            @Html.Partial("Index_List", oItem.Childs)
         </div>
       }
    }
}
