@model Tuple<string,string>
<ul id="@Model.Item1" class="@Model.Item2">

   <li data-bind="css:{'active':optionsActive}">
      <a href="#!" class="waves-effect" data-bind="click:optionsClick">
         <i class="material-icons">tune</i>
      </a>
   </li>

   <!-- ko with:data -->
   <li data-bind="with:PreviousMonth">
      <a href="#!" class="waves-effect" data-bind="click:$parents[1].click"><i class="material-icons">chevron_left</i></a>
   </li>
   <li data-bind="with:CurrentMonth"><span data-bind="text:Text"></span></li>
   <li data-bind="with:NextMonth">
      <a href="#!" class="waves-effect" data-bind="click:$parents[1].click"><i class="material-icons">chevron_right</i></a>
   </li>
   <!-- /ko -->
</ul>
<script type="text/javascript">
   $(document).ready(function () {
      var initialYear = @DateTime.Now.Year;
      var initialMonth = @DateTime.Now.Month;
      ko.applyBindings(new koAnalysisIntervalContext(initialYear, initialMonth), document.getElementById("@Model.Item1"));
   });
</script>