@model short
@{ var categoryType = Model; }
<div class="card white card-expandable" data-additional-param="@categoryType">
   @Html.Partial("Graph_ExpandableButton", "category-details-expandable-button")
   <div class="card-content graph-content">
      <content class="large"></content>
      <code data-bind="notifyer:function(element){graphCategoryDetails(element,$data, @categoryType)}"></code>
   </div>
</div>
<script type="text/javascript">
   var titleCategoryExpenseDetails = '@Html.Raw(Html.FsTranslationFor("TITLE_ANALYSIS_CATEGORY_EXPENSE_DETAILS"))';
   var titleCategoryIncomeDetails = '@Html.Raw(Html.FsTranslationFor("TITLE_ANALYSIS_CATEGORY_INCOME_DETAILS"))';
   var enCategoryTypeIncome = @((short)FriendCash.Service.Categories.Model.enCategoryType.Income);
   var enCategoryTypeExpense = @((short)FriendCash.Service.Categories.Model.enCategoryType.Expense);
</script>