<div id="koDeleteUserData" class="card">
   <div class="card">
      <div class="card-content">
         <div class="card-title">@Html.FsTranslationFor("TITLE_CONFIGS_DELETEUSERDATA")</div>
         <div class="center-align">
            <a href="#!" class="btn modal-trigger waves-effect red white-text" data-bind="click:showModal">@Html.FsTranslationFor("COMMAND_CONFIGS_DELETEUSERDATA")</a>
         </div>
      </div>
   </div>
   <div id="koDeleteUserDataModal" class="modal">
      <div class="modal-content">
         <h4 class="red-text">@Html.FsTranslationFor("TITLE_CONFIGS_DELETEUSERDATA")</h4>
         <p>@Html.FsTranslationFor("LABEL_CONFIGS_DELETEUSERDATA")</p>
      </div>
      <div class="modal-footer">
         <a href="#!" class="modal-action waves-effect btn-flat waves-red red-text" data-bind="click:execute">@Html.FsTranslationFor("COMMAND_CONFIRM")</a>
         <a href="#!" class="modal-action waves-effect btn-flat modal-close">@Html.FsTranslationFor("COMMAND_CANCEL")</a>
      </div>
   </div>
</div>
<script type="text/javascript">
   $(document).ready(function () {
      ko.applyBindings(new koDeleteUserData(), document.getElementById("koDeleteUserData"));
   });
</script>