@{
   ViewBag.Title = Html.FsTranslationFor("TITLE_CONFIGS_MAIN");
}
<div class="row">
   <div class="col s12 m7">
      @Html.Partial("~/Views/Auth/Password.cshtml")
   </div>
   <div class="col s12 m5">
      @Html.Partial("DeleteUserData")
      @Html.Partial("RemoveUser")
   </div>
   <div class="col s12">
      @Html.Partial("Import")
   </div>
</div>
@Html.IncludeJS("~/Scripts/configs.min.js")